@import "../../variables";

.sorting-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid $border-color;

  .divider {
    margin-right: 15px;
  }

  select {
    font-size: 14px;
    color: $title-color;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid $border-color;
    &:focus {
      border: 1px solid $border-color;
      outline: none;
    }
    
  }

  button {
    background: none;
    color: $title-color;
    padding: 0 2px;
    margin-right: 5px;
  }
}