@import "../../variables";

.participant-item {
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover {
    background-color: $event-item-bg-color;
  }

  .name {
    font-size: 18px;
    font-weight: 600;
    color: $title-color;
  }

  .email {
    font-size: 14px;
  }
}