$title-color: #095271;
$border-color: #b8ecff;
$event-item-bg-color: #f0faff;
$link-bg-color: #0093cd;
$link-hover-bg-color: #07b8f2;
$error-color: #ff0000;
$success-color: #0cae01;
$disabled-color: #7ea7b7;
